$blue-color: #b4f5fb;
$accent-color: #ed1438;
$dark-accent-color: #bd0e2b;
$login-form-bg: #f3f5f9;
$dark-blue: #1d2630;
$white-color: #ffffff;
$heading-color: #333333;
$black-color: #000000;
$sidebar-color: #1e2126;
$sidebar-text-color: #e5ece8;
$grey-color: #9c9c9c;
$greyish-color: #e3e3e3;
$bg-color: #e5e5e5;
$primary-font-stack: 'Roboto', sans-serif;
$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
